# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\work\tests\h7-trace-probe\CM7\.idea/dataSources/
/dataSources.local.xml
serialmonitor_settings.xml

